body{
    height: 100%;
    min-width: 970px;
    background-color: #fff;
    margin: 0 auto;
    font-size: 12px;
    font-family: 'Tahoma','Arial','sans-serif';
}
div{
    /*border: 1px solid #000000;*/
}

.header{
    margin: 0 auto;
    padding: 0;
    height: 230px;
    width: 960px;
    position: relative;
}
.content{
    margin: 0 auto;
    padding: 0;
    width: 960px;
    position: relative;
    display: table;
}
.footer{
    margin: 0 auto;
    padding: 0;
    height: 150px;
    width: 960px;
    position: relative;
}
.header .reg-logo{
    margin: 0;
    height: 180px;
    width: 260px;
    float: left;
}
.header .users{
    margin: 15px 20px 0 0;
    width: 240px;
    height: 30px;
}
.header .users ul li{
    display: block;
    float: left;
    font-size: 14px;
}
.header .users .auth{
    margin-right: 3px;
}
.header .logo{
    margin-top: 40px;
}
.header .information{
    float: left;
    height: 180px;
    width: 700px;
}
.header .contacts ul{
    margin: 0;
    padding: 0;
}
.header .contacts ul li{
    display: block;
    float: left;
    font-size: 12px;
    color: #787878;
    font-family: 'Tahoma','Arial','sans-serif';
    line-height: 20px;
    /*margin: 16px 50px 0 0;*/
    margin-top: 16px;
    width: 175px;
}
.header .contacts ul li:last-child{
    margin-right: 0;
}
.header .contacts ul li strong{
    font-weight: bold;
    font-size: 14px;
    color: #000;
}
.header .information .contact_times_info{
    display: block;
    position: relative;
    margin-top: 65px;
    width: 700px;
}
.header .information .searchform{
    margin-top: 30px;
    height: 40px;
    width: 540px;
}
.header .information .searchform .navbar-default{
    background-color: transparent;
    border-color: transparent;
}
.header .information .searchform .container-fluid{
    padding: 0;
}

.header .basket{
    position: absolute;
    width: 180px;
    height: 100px;
    padding: 14px 0 0;
    top: 65px;
    left: 780px;
    background-color: #ffca08;
    text-align: center;
    border-radius: 4px;
}
.header .basket .name{
    font-size: 16px;
    font-family: 'Tahoma','Arial','sans-serif';
    color: #000000;
    font-weight: bolder;
}
.header .basket a{
    text-decoration: none;
}
.header .main-menu, .footer .main-menu {
    background-color: #ffca08;
    border-color: #ffca08;
    float: left;
    width: 100%;
    height: 40px;
    font-size: 14px;
    text-transform: uppercase;
}
.header .submit button{
    background: linear-gradient(to bottom, #fefcea, #ffca08);
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}
.navbar{
    margin-bottom: 0;
}
.header .searchform .navbar-form{
    margin: 0;
    padding: 0;
}
#search-input, #select-brand, #search-button{
    display: inline;
    height: 34px;
    font-size: 12px;
    color: #000000;
}
#search-input{
    width: 280px;
    box-shadow: 0em 0.4em 5px rgba(122,122,122,0.5);
}
#select-brand{
    width: 180px;
    box-shadow: 0em 0.4em 5px rgba(122,122,122,0.5);
}
#search-button{
    width: 34px;
    background: linear-gradient(to bottom, #fefcea, #ffca08);
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}

.multiple-items{
    margin: 0 auto;
    width: 600px;
}

.content .container-fluid{
    padding: 0;
}

.tree-menu ul { list-style: none; }

.tree-menu > ul { padding: 0; }

.tree-menu a {
    display: block;
    vertical-align: middle;
    text-decoration: none;
    padding: 6px;
    background-color: #efefef;
    border-radius: 4px;
    margin-bottom: 1px;
    color: #787878;
    -moz-transition: background-color 0.25s linear;
    -webkit-transition: background-color 0.25s linear;
    -o-transition: background-color 0.25s linear;
    transition: background-color 0.25s linear;
    -moz-transition-delay: 0.15s;
    -webkit-transition-delay: 0.15s;
    -o-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.tree-menu a:hover {
    color: #000000;
    -moz-transition: background-color 0.1s linear;
    -webkit-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}

.tree-menu .active > a:hover,
.tree-menu .selected > a,
.tree-menu a:hover { background-color: #ffca08; }

.tree-menu .selected > a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

.tree-menu .active > a { background-color: #ffca08; }

.tree-menu .closed > a,
.tree-menu .opened > a {
    padding-left: 24px;
    background-position: 4px 8px;
    background-repeat: no-repeat;
}
.content-right{
    width: 730px;
    /*border-left: solid 4px #787878;*/
}

.footer .main-menu{
    float: none;
}
.footer-info{
    height: 50px;
    width: 960px;
    display: block;
}
.payment{
    display: inline-block;
    height: 40px;
    margin: 10px 0 0 10px;
}
.footer .contacts{
    width: 650px;
    height: 50px;
    float: right;
}
.footer .contacts ul{
    margin-left: 30px;
    padding: 0;
}
.footer .contacts ul li{
    display: block;
    float: left;
    font-size: 12px;
    color: #787878;
    font-family: 'Tahoma','Arial','sans-serif';
    line-height: 20px;
    width: 175px;
}
.footer .contacts ul li:last-child{
    margin-right: 0;
}
.footer .contacts ul li strong{
    font-weight: bold;
    font-size: 14px;
    color: #000;
}
.copyright{
    width: 960px;
    height: 50px;
    background-color: #e6e6e6;
    border-radius: 4px;
}
.copyright p{
    color: #969696;
    margin: 15px 0 0 15px;
    float: left;
}

.main-content{
    width: 700px;
    margin-left: 10px;
}
#img-info{
    width: 700px;
    height: 371px;

}
.item-list{
    margin-top: -15px;
}
.hit{
    width: 700px;
    height: 40px;
    background-color: #000000;
    margin: 0 0 10px;
}
.hit h3{
    font-size: 18px;
    color: #ffca08;
    text-align: center;
    font-family: Arial;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.item-list .more{
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
}
.item-list .more a{
    border-bottom: 1px solid #000;
    text-decoration: none;
    color: #000;

}

.item-list .item .item-discount .thumbnail{
    height: 380px;
}
.item-list .item .item-discount .thumbnail .preview{
    height: 150px;
    width: 150px;
}
.item-list .item .item-discount .thumbnail .caption{
    height: 180px;
}
.item-list .item .item-discount .thumbnail h3{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}
.item-list .item .item-discount .thumbnail .anons{
    font-size: 12px;
    line-height: 12px;
    color: #000;
}
.item-list .item .item-discount .thumbnail .desc{
    font-size: 12px;
    line-height: 12px;
    color: #969696;
}
.item-list .item .item-discount .thumbnail .count{
    background-color: #ffca08;
    text-align: center;
    position: absolute;
    left: -10px;
    margin-top: 5px;
    width: 102px;
    height: 31px;
    padding-top: 6px;
    font-weight: bold;
    font-size: 14px;
}
.item-list .item .item-discount .thumbnail .old-count{
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    margin-top: 5px;
    left: 101px;
    line-height: 30px;
    color: #000;
}
.item-list .item .item-discount .thumbnail .old-count s{
    text-decoration: line-through;
}
